{% extends 'pages/index.html' %}

{% block title %}
Restaurant Home
{% endblock %}

{% block content %}
<header style="padding-top: 26px;" class="heroTop">
    <div class="container">
        <div class="hero">
            <div class="hero__desk">
                <h6 class="hero__desk-topTitle">Chase the new Flavour</h6>
                <h1 class="hero__desk-mainTitle">The key to Fine dining</h1>
                <p class="hero__desk-text">Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat
                    morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                <a href="" class="btn btn-white btn-animate">explore menu</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}